<style>
  #sidebar a {
    text-decoration: none;
    color: inherit;
  }

  #sidebar ul{
      padding: 0;
      margin: 0;
  }

  #sidebar li {
      list-style: none;
  }

  #sidebar .accordion-button:not(.collapsed) {
      background-color: #fff;
  }
</style>

<div id="sidebar">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Gênero
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <ul>
          <li class="py-1"><a class="text-body-secondary" href="#">Masculino</a></li>
          <li class="py-1"><a class="text-body-secondary" href="#">Feminino</a></li>
          <li class="py-1"><a class="text-body-secondary" href="#">Infantil</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sidebar accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Categoria
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <ul>
          <li class="py-1"><a class="text-body-secondary" href="#">Corrida</a></li>
          <li class="py-1"><a class="text-body-secondary" href="#">Casual</a></li>
          <li class="py-1"><a class="text-body-secondary" href="#">Basquete</a></li>
          <li class="py-1"><a class="text-body-secondary" href="#">Futebol</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sidebar accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Tamanho
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <ul>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">34</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">35</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">36</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">37</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">38</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">39</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">40</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">41</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">42</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">43</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">44</a></li>
          <li><a class="d-flex gap-3 text-body-secondary" href="#"><input type="checkbox">45</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>