<section class="row m-0 align-items-start align-items-md-center">
    <div class="col-md-4 col-sm-6 col-12 d-md-flex align-items-center justify-content-around p-0 gap-2">
        <img class="produto" src="../imgs/nike.avif" alt="tênis">
        <p class="fw-medium">Tênis Nike Air Force 1 PLT.AF.ORM Feminino</p>
    </div>
    <div class="row col-md-8 col-sm-6 col-12">
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">500 R$</p>
            <input type="number" value="1" min="1">
        </div>
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">1000 R$</p>
            <img src="../icons/trash-fill.svg" alt="deletar">
        </div>
    </div>
</section>
<section class="row m-0 align-items-start align-items-md-center">
    <div class="col-md-4 col-sm-6 col-12 d-md-flex align-items-center justify-content-around p-0 gap-2">
        <img class="produto" src="../imgs/nike.avif" alt="tênis">
        <p class="fw-medium">Tênis Nike Air Force 1 PLT.AF.ORM Feminino</p>
    </div>
    <div class="row col-md-8 col-sm-6 col-12">
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">500 R$</p>
            <input type="number" value="1" min="1">
        </div>
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">1000 R$</p>
            <img src="../icons/trash-fill.svg" alt="deletar">
        </div>
    </div>
</section>
<section class="row m-0 align-items-start align-items-md-center">
    <div class="col-md-4 col-sm-6 col-12 d-md-flex align-items-center justify-content-around p-0 gap-2">
        <img class="produto" src="../imgs/nike.avif" alt="tênis">
        <p class="fw-medium">Tênis Nike Air Force 1 PLT.AF.ORM Feminino</p>
    </div>
    <div class="row col-md-8 col-sm-6 col-12">
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">500 R$</p>
            <input type="number" value="1" min="1">
        </div>
        <div class="col-md-6 d-flex align-items-md-center justify-content-md-around p-0 gap-2">
            <p class="m-0 fw-medium">1000 R$</p>
            <img src="../icons/trash-fill.svg" alt="deletar">
        </div>
    </div>
</section>