<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div>
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div>
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div>
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div>
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div> 
<div class="col border">
    <img src="./imgs/nike.avif" alt="Nike" width="100%">
    <p class="fw-bold">Tenis</p>
    <p>Tênis Nike Air Force 1 PLT.AF.ORM Feminino <del>R$ 899,99</del> <span class="fw-bold">R$519,99</span></p>
    <button class="btn bg-black text-white my-4">Comprar</button>
</div>