<section style="background-color: #F5F5F5;" class="p-3 border rounded d-flex flex-column">
    <article class="d-flex justify-content-between">
        <p>Subtotal</p>
        <p class="text-secondary">100 R$</p>
    </article>
    <article class="d-flex justify-content-between">
        <p>Frete</p>
        <p class="text-secondary">10 R$</p>
    </article>
    <article class="d-flex justify-content-between">
        <p>Total</p>
        <p class="fw-medium">110 R$</p>
    </article>
    <a href="./payment.html" class="btn bg-black text-white border b-0 rounded p-2">Finalizar Compra</a>
</section>